# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder Project settings
.spyderproject
.spyproject

# PyCharm Project settings
.idea/

# Sensitive info for bot
bot_config.py